body {

	background-image: url(../images/background.jpg);
}

.gifbox {
	display:block;
	color:red;
	overflow: auto;
	font-family: Troika;
}

button {

	border-style: solid;
	border-color:red;
	border-radius: 25px;
}
img {

	display:block;
}